/AINotes/dataFiles/Video2Audio
/AINotes/dataFiles/openai_key
/AINotes/dataFiles/uploads
/AINotes/dataFiles/zoom_meetings
/AINotes/dataFiles/recordings
/AINotes/__pycache__
/AINotes/.env
/AINotes/.serverenv
/AINotes/sig.py
/AINotes/test.py
/AINotes/conversion.py
/AINotes/llama2.py
/AINotes/notes.py
/AINotes/transcribe.py
/AINotes/staticFiles/js/client-view.js
/Misc
/instance
/whisper
/Text_Files
/__pycache__
/.vscode
/output
/log.log
# /meetingsdk-headless-linux-sample/lib/zoomsdk/*
/configurations/*
/meetingsdk-linux-raw-recording-sample/demo/build
/meetingsdk-linux-raw-recording-sample/audio.pcm
/meetingsdk-linux-raw-recording-sample/audio.wav
/meetingsdk-linux-raw-recording-sample/demo/bin
/meetingsdk-linux-raw-recording-sample/demo/lib/zoom_meeting_sdk/*
/meetingsdk-linux-raw-recording-sample/demo/config.txt
/test.py
/migrations
/jobs.sqlite
AINotes/helper_functions/__pycache__