{% extends "userLayout.html" %} {% block user %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Forgot Password</title>

    <!-- Custom fonts for this template -->
    <link
      href="/staticFiles/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="/staticFiles/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="/staticFiles/css/custom.css" rel="stylesheet">
  </head>

  <body class="bg-gradient-primary">
    <div class="forgot-main container">
      {% if message %}
      <div class="alert alert-success alert-dismissible">
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
      {% endif %}

      <!-- Outer Row -->
      <div class="row justify-content-center w-100">
        <div class="col-xl-6 col-lg-12 col-md-9">
          <div class="card-main card o-hidden shadow-lg mt-5 mb-2">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row ">
                <div
                  class="col-lg-12"
                >
                  <div class="pl-5 pr-5 pt-5 pb-4">
                    <div class="text-center">
                        <img
                          src="../staticFiles/img/logo.png"
                          style="width: 161px; margin-bottom: 13px"
                          alt="images"
                        />
                      </div>
                    <div class="text-center">
                      <h1 class="forgot-title h4 text-gray-900 mb-2">
                        Forgot Your Password?
                      </h1>
                      <p class="mb-4 mt-2">
                        We get it, stuff happens. Just enter your email address
                        below and we'll send you a link to reset your password!
                      </p>
                    </div>
                    <!-- Display the flash messages if available -->
                    {% with messages =
                    get_flashed_messages(with_categories=true) %} {% if messages
                    %}
                    <div
                      class="alert {{ messages[0][1] }} alert-dismissible fade show mt-3"
                      role="alert"
                    >
                      {{ messages[0][0] }}
                      <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    {% endif %} {% endwith %}
                    <!-- Forgot Password Form -->
                    <form class="user" method="POST" action="">
                      {{ form.csrf_token }}
                      <div class="form-group">
                        <input
                          type="email"
                          class="form-control form-control-user"
                          id="exampleInputEmail"
                          name="email"
                          aria-describedby="emailHelp"
                          placeholder="Enter Email Address..."
                          required
                        />
                      </div>
                      <button
                        type="submit"
                        class="btn btn-primary btn-user btn-block"
                      >
                        Reset Password
                      </button>
                    </form>
                    <hr />
                    <div class="text-center">
                      <a class="small" href="{{ url_for('register') }}"
                        >Create an Account!</a
                      >
                    </div>
                    <div class="text-center forgot-login-button">
                        Already have an account?
                      <a class="small" href="{{ url_for('login') }}"
                        > Login!</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/staticFiles/vendor/jquery/jquery.min.js"></script>
    <script src="/staticFiles/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript -->
    <script src="/staticFiles/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages -->
    <script src="/staticFiles/js/sb-admin-2.min.js"></script>
  </body>
</html>
{% endblock user %}