<!-- {% extends "userLayout.html" %}
{% block title %}
    <title>Sign-Up</title>
{% endblock %}

{% block user %} -->



<!-- <div class="col-xl-6 col-lg-12 col-md-9"> -->
<!-- Display flash messages here -->
<!-- {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}
    <div class="card-main card o-hidden shadow-lg my-5 square-card">
        <div class="card-body p-0"> -->
            <!-- Nested Row within Card Body -->
            <!-- <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <img
                              src="../staticFiles/img/logo.png"
                              style="width: 161px; margin-bottom: 13px"
                              alt="images"
                            />
                          </div>
                        <div class="text-center">
                            <h1 class="register-title h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user" method="POST" action="">
                            {{ form.hidden_tag()}}
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {% if form.fname.errors %}
                                    {{ form.fname(class="form-control form-control-user is-invalid",
                                    placeholder="First Name")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.fname.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.fname(class="form-control form-control-user", placeholder="First Name")}}
                                    {% endif %}
                                </div>
                                <div class="col-sm-6">
                                    {% if form.lname.errors %}
                                    {{ form.lname(class="form-control form-control-user is-invalid",
                                    placeholder="Last Name")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.lname.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.lname(class="form-control form-control-user", placeholder="Last Name")}}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-user is-invalid",
                                placeholder="Email")}}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.email(class="form-control form-control-user", placeholder="Email")}}
                                {% endif %}
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {% if form.password.errors %}
                                    {{ form.password(class="form-control form-control-user is-invalid",
                                    placeholder="Password")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.password(class="form-control form-control-user",
                                    placeholder="Password")}}
                                    {% endif %} -->
                                    <!-- <small>Password must be 8 characters long, include uppercase, lowercase, numbers and special characters.</small> -->
                                <!-- </div>
                                <div class="col-sm-6">
                                    {% if form.confirmPassword.errors %}
                                    {{ form.confirmPassword(class="form-control form-control-user
                                    is-invalid", placeholder="Repeat Password")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.confirmPassword.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.confirmPassword(class="form-control form-control-user",
                                    placeholder=" Repeat Password")}}
                                    {% endif %}
                                </div>
                            </div>
                            {{ form.submit(class="btn btn-primary btn-user btn-block") }}
                            <hr>
                        </form>
                        <div class="text-center">
                            <a class="small" href="{{ url_for('login') }}">Already have an account?
                                Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- {% endblock user %} -->