.card-main {
  border-radius: 50px !important;
}
.google-button {
  font-size: 1rem !important;
}
.zoom-image,
.google-image {
  margin-right: 5px !important;
  width: 25px;
}
.login-welcome,
.register-title,
.forgot-title {
  font-size: 31px !important;
  font-weight: 800 !important;
  font-family: ui-sans-serif;
}
.forgot-main {
  height: 100vh !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  width: 100% !important;
}
.forgot-login-button {
  font-size: 14px !important;
}
.card-inner-div {
  padding: 1.5rem 3rem !important;
}
.login-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /* Adjusted gap for aesthetics */
}

.login-btn {
  margin-top: 10px;
  padding: 8px 15px;
  /* Reduced padding for a more compact look */
  border-radius: 4px;
  /* Slightly less rounded corners */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
  text-align: center;
  transition: all 0.3s ease;
  /* Smooth transition for hover effects */
}

.login-btn a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  /* Smaller font size for a sleek look */
}

/* Google button styles */
.google-btn {
  background-color: #db4437;
}

.google-btn:hover {
  background-color: #c1351e;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  /* Slightly larger shadow on hover */
}

/* Zoom button styles */
.zoom-btn {
  font-size: 1rem !important;
  background-color: #2d8cff !important;
  color: white !important;
  margin-top: 0px !important;
}

.zoom-btn:hover {
  background-color: #1b7ce7 !important;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.fab {
  margin-right: 5px;
}

.btn-text {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  /* Reduce padding */
  font-family: "Poppins", sans-serif;
  color: #000000;
  /* Black text */
  text-decoration: none;
  /* Remove underline from anchor tag */
}

.btn-text:hover {
  text-decoration: none;
  /* Remove underline on hover */
  color: #000000;
  /* Black text on hover */
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.footer {
  width: 100%;
  background: transparent;
  line-height: 60px;
  text-align: center;
  color: #fff;
  position: relative;
}

.footer a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.footer a:hover {
  text-decoration: underline;
  color: #fff;
}
.inner-footer {
  line-height: 30px;
  padding-bottom: 10px;
}
.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.no-arrow::after {
  display: none;
}
.sidebar.toggled .nav-item .nav-link {
  text-align: left !important;
  padding: 0.75rem 1rem;
  width: 100% !important;
}
@media (max-width: 440px) {
  .login-buttons-container {
    flex-direction: column !important;
  }
  .card-inner-div {
    padding: 1.5rem 1.5rem !important;
  }
  .google-button {
    width: 100% !important;
  }
}
@media (max-width: 383px) {
  .nav-tabs {
    font-size: 13px;
    font-weight: 600;
  }
}
.inner-div-container {
  height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  margin-top: 20px;
  margin-bottom: 20px;
}
.login-div {
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
}
#myVideo {
  position: fixed !important;
  right: 0 !important;
  bottom: 0 !important;
  min-width: 100% !important;
  min-height: 100% !important;
}

.inner-login {
  position: fixed !important;
  top: 0 !important;
  background: rgba(0, 0, 0, 0.5) !important;
  color: #f1f1f1 !important;
  width: 100% !important;
  padding: 20px !important;
}
.side-bar {
  background-color: #075887 !important;
}
.logo-image img {
  width: 60px !important;
}
.logo-image {
  box-shadow: 0px 1px 1px 4px white;
  background-color: white;
  padding: 9px;
  border-radius: 14px !important;
}
.side-bar.navbar-nav.sidebar.sidebar-dark.accordion.toggled a .logo-image img {
  width: 39px !important;
}
.side-bar.navbar-nav.sidebar.sidebar-dark.accordion.toggled a .logo-image {
  padding: 6px !important;
}
.side-bar.navbar-nav.sidebar.sidebar-dark.accordion.toggled a {
  height: auto !important;
  padding: 0.5rem 0.4rem;
}
.side-bar.navbar-nav.sidebar.sidebar-dark.accordion.toggled li a span {
  display: none !important;
}
.side-bar.navbar-nav.sidebar.sidebar-dark.accordion.toggled .sidebar-heading {
  display: none !important;
}
.sidebar .nav-item .nav-link {
  padding: 12px 20px;
  text-align: left !important;
  width: 100% !important;
  display: flex;
  align-items: center;
  gap: 14px;
}
.sidebar-dark hr.sidebar-divider {
  border-top: 1px solid white !important;
}
/* .sidebar.toggled {
  width: 4rem !important;
} */
/* .sidebar.toggled .nav-item .nav-link {
  width: 4rem;
} */
.topbar {
  height: 3.6rem !important;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70px;
  background-color: var(--white);
  box-shadow: var(--shadow);
}
/* .sidebar {
  width: 13.5rem !important;
} */

.navbar-logo {
  cursor: pointer;
}

.navbar-list {
  width: 100%;
  text-align: right;
  padding-right: 2rem;
}

.profile-dropdown ul li {
  display: inline-block;
  margin: 0 1rem;
}

.profile-dropdown ul li a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--black);
  text-decoration: none;
}

.profile-dropdown {
  position: relative;
  width: fit-content;
}

.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 50px;
  color: var(--black);
  /* background-color: white;
  box-shadow: var(--shadow); */
  cursor: pointer;
  /* border: 1px solid var(--secondary); */
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

.profile-dropdown-btn:hover {
  background-color: var(--secondary-light-2);
  box-shadow: var(--shadow);
}

.profile-img {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: url(/staticFiles/img/user.png);
  background-size: cover;
}

.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: var(--green);
}
.account-profile-img {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url(/staticFiles/img/user.png);
  background-size: cover;
  margin: auto;
}

.account-profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: var(--green);
}

.profile-dropdown-btn span {
  margin: 0 0.5rem;
  margin-right: 0;
}

.profile-dropdown-list {
  position: absolute;
  top: 56px;
  width: 248px;
  right: 0;
  background-color: var(--white);
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: max-height 0.5s;
  z-index: 1;
  padding: 0px;
}

.profile-dropdown-list hr {
  border: 1px solid lightgray;
  margin: 5px 13px 5px 13px;
}

.profile-dropdown-list.active {
  max-height: 500px;
}

.profile-dropdown-list-item {
  padding: 0.5rem 0rem 0.5rem 0rem;
  transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--black);
}

.profile-dropdown-list-item a i {
  margin-right: 0.8rem;
  padding: 6px;
  font-size: 13px;
  background-color: var(--secondary);
  color: var(--white);
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: margin-right 0.3s;
}

.profile-dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: var(--secondary-light);
}
.font-heading {
  font-family: math !important;
}
.meeting-logo-image img {
  width: 141px;
  margin-top: 30px;
}
.heading-meeting {
  padding: 20px 20px 0px 20px;
}
.sticky-footer {
  flex-shrink: 0;
  padding: 1rem 0 !important;
}
.transcribe-section {
  height: 216px !important;
}
.card-header {
  background-color: white !important;
}
.btn-icon-split i {
  padding: 7px;
}
.card-header h6 {
  color: #7a7b7c !important;
}

label {
  margin-bottom: 0.1rem !important;
}
.card .card-header[data-toggle="collapse"]::after {
  display: none !important;
}

/* .table-header {
  background-color: #5b7ea4;
  color: white;
  font-family: "Arial", sans-serif;
} */

/* Custom table styling */
table.dataTable thead > tr > th.sorting {
  padding: 10px !important;
  /* border: 1px solid #6b8aab; */
}
table.dataTable thead > tr > th.sorting:before,
table.dataTable thead > tr > th.sorting_asc:before {
  content: none !important;
}
table.dataTable thead > tr > th.sorting:after {
  content: none !important;
}
.table {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  border: 1px solid #dee2e6;
}

.table tbody tr:hover {
  background-color: #f9faff;
}

/* table{
width: 100%;
border-collapse: collapse;
border-spacing: 0;
box-shadow: 0 2px 15px rgba(64,64,64,.7);
margin-bottom: 5px;

}
td , th{
padding: 15px 20px;
text-align: center;

} */
/* .table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
} */
/* .table.table-bordered {
  border: none !important;
} */
.table-header tr th {
  border: none !important;
  font-weight: 600 !important;
  text-align: center !important;
  background-color: white !important;
}
.table tbody tr td {
  border: none !important;
  /* text-align: center !important; */
  background-color: white !important;
  color: #7a818f !important;
}
.share.card-body.table-trans tbody tr td {
  border-bottom: 1px solid lightgray !important;
}

.table-bordered > :not(caption) > * {
  border-width: 0px 0 !important;
}
/* .table-header {
  height: 70px !important;
} */
/* Action buttons styling */
.action-buttons .btn {
  margin-right: 5px;
  margin-bottom: 5px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
  color: black;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-sm {
  font-size: 12px;
  padding: 5px 10px;
}
.dataTables_length {
  font-size: 16px !important;
}
.dataTables_length label select {
  padding: 0px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  color: inherit !important;
}
.paginate_button.previous,
.paginate_button.next {
  padding: 3px !important;
}
.paginate_button.current {
  padding: 0px !important;
}
.dataTables_paginate.paging_simple_numbers {
  padding-top: 12.8px !important;
}
.dataTables_filter {
  margin-bottom: 10px !important;
}
.card-title {
  color: black !important;
}
.side-bar.navbar-nav.sidebar.sidebar-dark.accordion.toggled ~ #content-wrapper {
  padding-left: 64px !important;
}
#wrapper #content-wrapper {
  height: 100vh !important;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 39.08%,
    rgb(204 209 248) 100%
  ) !important;
}
.sticky-footer {
  position: sticky !important;
  bottom: 0 !important;
}
.login-zoom-image {
  width: 53px;
  height: 40px;
}
.login-button {
  color: rgb(0, 0, 0) !important;
  display: inline-block;
}
.login-button:hover {
  background-color: #10264642 !important;
}
.main-svg {
  background: none !important;
  position: absolute !important;
  top: -104px !important;
  right: 0px !important;
}
.user-select-none.svg-container {
  height: 111px !important;
}
.name-genius {
  font-size: 19px !important;
}
.sidebar-heading {
  color: #dfd9d9 !important;
}
.sidebar {
  width: 14rem;
  min-height: 100vh;
}
.profile-name {
  font-size: 14px !important;
  font-weight: 800;
  padding: 13px 13px 0px 13px;
}
.profile-dropdown-list p {
  font-size: 14px;
  padding: 0px 13px 0px 13px;
}
.nav-tabs {
  border-bottom: 1px solid #ebebeb !important;
  background-color: white !important;
  padding-top: 8px !important;
  padding-left: 7px !important;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  flex-wrap: nowrap !important;
  /* font-size: 13px;
    font-weight: 600; */
}
.dropdown-menu.show {
  left: -96px !important;
}
.home.dropdown-menu.show{
  left: -56px !important;
  top: 3px !important;
}
.meeting.dropdown-menu.show{
  left: -5px !important;
  top: 3px !important;
}
.card-body .list-main {
  max-height: 100% !important;
  min-height: 490px !important;
  padding: 20px !important;
  background-color: white;
  overflow: auto !important;
}
.tab-pane.fade {
  max-height: 504px !important;
  min-height: 504px !important;
  padding: 20px !important;
  background-color: white;
  overflow: auto !important;
}
.listing .tab-pane.fade {
  max-height: 100% !important;
  min-height: 100% !important;
  padding: 20px !important;
  background-color: white;
  overflow: visible !important;
}
.listing .tab-pane.fade.active {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.35rem !important;
}
.tab-pane.fade.active {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.35rem !important;
  border: none !important;
}
.title-heading {
  color: var(--color-gray-800, #1d2939);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.task-section {
  width: 100% !important;
  padding: 20px !important;
}
.inner-task-section {
  padding: 22px 32px;
  margin: 16px 0px 16px 0px !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgb(255, 255, 255);
  border: 1px solid var(--color-gray-100, #f2f4f7);
  border-radius: var(--radius-3, 12px);
  box-shadow: rgba(16, 24, 40, 0.04) 0px 2px 2px 0px;
}
.inner-task-section:hover {
  background-color: #f9faff;
}
.heading-table div p {
  color: #98a2b3;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
  text-transform: uppercase;
}
.table-data div {
  color: #98a2b3;
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.36px;
}
.btn-icon-split .text {
  padding: 4px 8px !important;
}
.task-logo img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.inner-task-section div a {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: var(--color-gray-700, #344054);
  text-decoration: none;
}
.dropdown-item {
  color: #7c7676 !important;
}

.inner-task-section div a:hover {
  text-decoration: none;
  color: #6e75ff !important;
}
.transcription-img {
  width: 44px !important;
  height: 28px !important;
}
.file-audio {
  font-size: 24px;
}
#radio-buttons div {
  display: flex;
  gap: 22px;
  align-items: center;
  justify-content: space-around;
}
.schedule-meeting-icon path {
  stroke: #007bff;
}
.radio-inline {
  font-size: 16px;
  font-weight: 600;
}
.custom-switch label {
  font-size: 18px;
  font-weight: 600;
  color: #7a7b7c !important;
}
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cacaca;
  border-radius: 20px !important;
}
.custom-control-label::before,
.custom-control-label::after {
  top: 0.25rem;
  left: -2.25rem;
  width: 2rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: #ccc;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #007bff;
  border-color: #007bff;
}

.custom-control-input:checked ~ .custom-control-label::after {
  background-color: #fff;
  transform: translateX(1rem);
}
.custom-control-label::before,
.custom-control-label::after {
  top: 0.25rem;
  left: -2.25rem;
  width: 2rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: #ccc;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #007bff;
  border-color: #007bff;
}

.custom-control-input:checked ~ .custom-control-label::after {
  background-color: #fff;
  transform: translateX(1rem);
}
/* .dataframe.table.table-striped.table-bordered thead {
  background-color: #5b7ea4 !important;
  color: white !important;
} */
.table {
  margin-bottom: 0px !important;
}
.privacy-logo-image img {
  width: 100px !important;
}
.highlight {
  color: white;
  font-weight: bold;
  font-size: 34px;
}
.header-main {
  padding-left: 50px !important;
  padding-right: 50px !important;
}
.list-main h2 {
  color: #504a4a !important;
  font-weight: 500 !important;
}
.list-main h3 {
  color: #504a4a !important;
  font-weight: 400 !important;
}
.dataTables_length,
.dataTables_filter {
  display: none !important;
}
.transcribe-section {
  padding: 24px !important;
}
.dropdown-toggle::after {
  display: none !important;
}
.dropdown-menu {
  padding-left: 20px;
  padding-right: 20px;
}
.copyright a {
  text-decoration: none;
}
.copyright a:hover {
  text-decoration: underline;
}
.nav-item:hover,
.dropdown-item:active {
  background: rgba(255, 255, 255, 0.125) !important;
}
.toast-container {
  position: fixed !important;
  top: 4.5rem !important; /* Top margin */
  right: 12px !important; /* Centering left-right */
  z-index: 1050 !important; /* Ensure it's on top of other content */
}
.toast-body {
  color: #333333; /* Darker text for contrast against light background */
  display: flex;
}
.toast-body i {
  font-size: 21px;
  margin-top: 2px;
}
.meeting-join-link a {
  color: #0d6efd !important;
  font-size: 13px !important;
}

/* .home-section.nav-link.active {
  color: #6e707e;
  background-color: #fff !important;
  border-color: #dddfeb #dddfeb #fff !important;
  margin-bottom: -1px !important;
  border: none !important;
  border-color: black !important;
  border-bottom: 1px solid black !important;
  color: #495057 !important;
  font-weight: 400 !important;
} */
.table-trans table thead tr {
  text-align: left !important;
}
.table-trans table thead tr th {
  color: #918c8c !important;
}
.dataframe tbody tr {
  border: none !important;
  border-bottom: none !important;
  background-color: white !important;
  color: #717885 !important;
}
.dataframe tbody tr td {
  text-align: start !important;
}
.card-header {
  padding: 15px 20px !important;
}
.toast-container {
  position: fixed;
  top: 5rem; /* Top margin */
  right: 12px; /* Centering left-right */
  z-index: 1050; /* Ensure it's on top of other content */
}

.toast {
  background-color: #ffffff; /* Light background for better visibility */
  border: 1px solid #007bff; /* Blue border to match bootstrap primary color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 0.25rem; /* Rounded corners */
}

.toast-header {
  background-color: #007bff; /* Primary color background in header */
  color: #ffffff; /* White text color */
  border-bottom: none; /* No border under header for a cleaner look */
}

.toast-body {
  color: #333333; /* Darker text for contrast against light background */
  display: flex;
}
.toast-body i {
  font-size: 21px;
  margin-top: 2px;
}

.close {
  color: #333333; /* White color for close button */
}
.nav-tabs .nav-link {
  color: #8f8b8b !important;
}
.share-button {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #7c7676 !important;
  display: block !important;
}
.share-button:hover {
  background-color: #e9ecef !important;
}
.option-button {
  font-size: 14px !important;
  font-weight: 700 !important;
  color: #7c7676 !important;
  display: block !important;
  height: 22px !important;
}
.option-button:hover{
  color: #6e75ff !important;
}
.upload-icon i{
  font-size: 34px !important;
  color: rgb(110, 117, 255) !important;
}
.upload-icon {
  height: 59px;
  width: 59px;
  display: flex;
  background-color: rgb(245, 245, 255) !important;
  border-radius: 50px;
  align-items: center;
  justify-content: space-evenly;
  margin: auto !important;
}
.file-input-wrapper {
  width: 100%;
  height: 216px;
  border: 2px dashed #007bff; /* Border style for the box */
  border-radius: 5px; /* Rounded corners for the box */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa; /* Background color for the box */
  cursor: pointer; /* Show pointer cursor on hover */
  position: relative; /* Position relative for positioning the file input */
  margin-top: 32px;
}

.file-input-wrapper p {
  margin: 0;
  color: rgb(148, 152, 165); /* Text color inside the box */
}

.file-input-wrapper input[type="file"] {
  position: absolute; /* Position the file input absolutely */
  width: 100%;
  height: 100%;
  opacity: 0; /* Hide the file input */
  cursor: pointer; /* Make the file input clickable */
}
.file-input-wrapper .file-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  text-align: center;
  color: #6c757d;
  font-size: 14px;
  display: none; /* Hide initially */
}